@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');


BODY {
    background: #AAAAAA;
}

#stopwatch {
    margin: auto;
    box-sizing: border-box;
    border: 1px solid black;
    width: 180px;
    height: 50px;
    border-radius: 5px;
    padding: 10px 10px;
    text-align: center;
    font-size: 22pt;
    font-family: 'Roboto', cursive;
    background: #EEEEEE;
    color: #33FF33;
    text-shadow: 0 0 3px #33FF33;
    background-image: radial-gradient(circle at center center, rgb(34, 34, 34), rgb(0, 0, 0));
}

#header {
    text-align: center;
    font-size: 12pt;
    font-family: 'Roboto', cursive;
    color: #031cfc;
}

.stopwatch {
    margin: auto;
    text-align: center;
}

button {
    margin: 8px 1px;
    cursor: pointer;

}

#button_frame {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


#stop {
    background-color: red;

}

#start {
    background-color: #03fcc2;

}

#reset {
    background-color: bisque;

}